page-sitios {
//  .btn0{
  //background:url('../../assets/imgs/huapacalco.png');
  //background-repeat:no-repeat;
  //position:fixed;
   //z-index:1;
   //width:100%;
   //height:100%;
//}
.btn0{
  background-image:url('../../assets/imgs/catedral.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn1{
  background-image:url('../../assets/imgs/mferro.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;

}
.btn2{
  background-image:url('../../assets/imgs/santo.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn3{
  background-image:url('../../assets/imgs/historic.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn4{
  background-image:url('../../assets/imgs/biblioteca.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn5{
  background-image:url('../../assets/imgs/centro.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn6{
  background-image:url('../../assets/imgs/angeles.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn7{
  background-image:url('../../assets/imgs/zoologico.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn8{
  background-image:url('../../assets/imgs/capilla.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn9{
  background-image:url('../../assets/imgs/huapacalco.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn10{
  background-image:url('../../assets/imgs/balneario.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.btn11{
  background-image:url('../../assets/imgs/caracol.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;

}
.btn12{
  background-image:url('../../assets/imgs/vagon.png');
  background-repeat:no-repeat;
  height:15%;
  width:100%;
  background-position: center;
  background-size: 110%;
}
.contenido{
  width: 100%;
  height: calc(100%/1 - 2*1em - 2*1px);
  position: relative;
  display:block;
  top: 0px;
  border: 0px;
  }
}
